@import url("./global.css");

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px;
    border-bottom: 10px solid var(--color-primary);
    background-color: var(--color-secondary);
}

.container-nav-header{
    display: flex;
    align-items: center;
    gap: 46px;
}
.navigation-header ul {
    display: flex;
    gap: 45px;
    list-style: none;
}
.navigation-header ul li a{
    text-decoration: none;
    font-family: var(--color-neutral-whithe);
    color: var(--color-neutral-white);
}

.navigation-header ul li menu-active{
    color: var(--color-neutral-white);
}

.btn-header {
    font-family: var(--font-family-primary);
    text-decoration: none;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: var(--font-weight-button);
    color: var(--color-neutral-white);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-secondary);
    padding: 50px 0;
}
.main-content {
    display: flex;
    flex-direction: column;
    width:497px;
    gap: 25px;
    color: var(--color-neutral-white);
    align-items: start;
}

.main-content h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h1);
}

.main-content h1 span {
    color: var(--color-primary);
}

.main-content p {
    font-family: var(--font-family-primary);
    color: var(--color-neutral-white);
}
.btn-primary {
    border: 1px solid var(--color-primary);
    color: var(--color-neutral-white); 
    padding: 10px;
}

.section-services {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 60px;
}

.container-item-services {
    flex-direction: column;
    display: flex;
    gap: 30px 0;
}

.container-item-services h2{
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
}
.container-item-services span{
    color: var(--color-primary);
}

.container-item-services p {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    
}